<p-table [value]="lancamentoPessoas" styleClass="p-datatable-striped"
        [paginator]="true" [rows]="5" [responsive]="true">
        <!--Configura o header da tabela-->
        <ng-template pTemplate="header">
          <tr> <!--Linha da tablea (primeira linha = header)-->
            <th class="col-th-header">Nome</th>
            <th class="col-cidade-header">Cidade</th>
            <th class="col-th-header">Estado</th>
            <th class="col-th-header">Status</th>
            <th class="col-acoes-header"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-lancamento>
          <tr>
            <td class="col-content">
              <span class="p-column-title">Nome</span>
              <!--usando pipe (|)-->
              {{lancamento.nome | uppercase}}
            </td>
            <td>
              <span class="p-column-title">Cidade</span>
              {{lancamento.cidade}}
            </td>
            <td>
              <span class="p-column-title">Estado</span>
              {{lancamento.estado}}
            </td>
            <td class="status">
              <span class="p-column-title">Status</span>
              <a href="#">{{lancamento.status}}</a>
            </td>
            <!--https://primeng.org/icons-->
            <td class="col-acoes-status">
              <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
              <p-button icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></p-button>
            </td>
          </tr>

        </ng-template>
      </p-table>
