<div class="container">
  <form autocomplete="off" #lancForm="ngForm" (ngSubmit)="salvar(lancForm)">

    <div class="grid">
      <div class="col-12">
        <h1>{{editando ? 'Edição de': 'Novo '}} Lançamento</h1>
      </div>

      <div class="col-12"> <!--Ao inserir o [(ngModel)], os botoes de receita e despesa estão com comportamento estranho-->
        <p-selectButton
          name="tipoDeLencamento"
          [(ngModel)]="lancamento.tipo"
          required="true"
          [options]="tipos"
          #tipoHtml="ngModel"
          >
        </p-selectButton>
        <!--

          <app-message [control]="tipoHtml.control" error="required" text="Escolha uma opção!"></app-message>
        -->
      </div>


      <app-date-picker
        titulo="Vencimento"
        [required]="true"
        [(ngModel)]="lancamento.dataVencimento"
        name="vencimento"
        >
      </app-date-picker>{{'Data: ' + lancamento.dataVencimento}}

      <app-date-picker
        titulo="{{tipoHtml.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}"
        [required]="true"
        [(ngModel)]="lancamento.dataPagamento"
        name="pagamento"
        >
      </app-date-picker>
      <!--
        <div class="col-12 md-6 col-3 p-fluid">
          <b>{{tipoHtml.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</b>
          <p-calendar
            dateFormat="dd/mm/yy"
            [showIcon]="true"
            name="name"
            [required]="true"
            [(ngModel)]="lancamento.dataPagamento"
            #dataHtml="ngModel"
            >
          </p-calendar>
          <app-message [control]="dataHtml.control" error="required" text="Insira uma data"></app-message>

        </div>


      -->
      <!--

        <div class="col-6 md:col-3 p-fluid">
          <label>{{tipoHtml.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label>
          <p-calendar
            dateFormat="dd/mm/yy"
            [showIcon]="true"
            [(ngModel)]="lancamento.dataPagamento"
            name="data"
            #dataHtml="ngModel"
            >
          </p-calendar>
        </div>
      -->

      <div class="col-12 md:col-9 p-fluid">
        <label>Descrição</label>
        <input
          pInputText
          type="text"
          name="descricao"
          #descricao="ngModel"
          required
          minlength="5"
          [(ngModel)]="lancamento.descricao"
          >
<!--
  <app-message [control]="descricao.control" error="required"
  text="Informe uma descrição"></app-message>
  <app-message [control]="descricao.control" error="minlength" text="Mínimo de {{ descricao.errors?.['minlength']?.requiredLength }} caracteres."></app-message>
        -->

      </div>

      <div class="col-6 md:col-3 p-fluid">
        <label>Valor</label>
        <p-inputNumber
          mode="currency"
          currency="BRL"
          locale="pt-BR"
          placeholder="0,00"
          name="valor"
          #valor="ngModel"
          [required]="true"
          [(ngModel)]="lancamento.valor"
          >
          </p-inputNumber>
    <!--

      <app-message [control]="valor.control" error="required" text="Insira um valor"></app-message>
        -->
      </div>

      <div class="col-12 md:col-6 p-fluid">
        <label>Categoria</label>
        <p-dropdown
          [options]="categorias"
          placeholder="Selecione"
          name="categoriaHtml"
          #categoriaHtml="ngModel"
          [required]="true"
          [(ngModel)]="lancamento.categoria.codigo"
          >
        </p-dropdown>
        <!--

          <app-message [control]="categoriaHtml.control" error="required" text="Insira um valor"></app-message>
        -->
      </div>

      <div class="col-12 md:col-6 p-fluid">
        <label>Pessoa</label>
        <p-dropdown
          [options]="pessoas"
          placeholder="Selecione"
          [filter]="true"
          name="pessoaHtml"
          #pessoaHtml="ngModel"
          [required]="true"
          [(ngModel)]="lancamento.pessoa.codigo"
          >
        </p-dropdown>
        <!--

          <app-message [control]="pessoaHtml.control" error="required" text="Insira uma pessoa"></app-message>
        -->
      </div>

      <div class="col-12 p-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3" name="observacao" [(ngModel)]="lancamento.observacao"></textarea>
      </div>

      <div class="col-12">
        <button pButton type="submit" label="Salvar"
        [disabled]="!lancForm.valid"></button>
        <button pButton type="button" label="Novo" class="p-button-info" routerLink="/lancamentos/novo"></button>
        <a routerLink="/lancamentos">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
