/* You can add global styles to this file, and also import other style files */

body{

  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404c51;
}

label {

  font-weight: bold;

}

/* Quando a tela estiver menor que os px definido, entrará
na regra do escopo*/
@media (min-width: 1000px){
  .container{

    width: 900px;
    margin: 0 auto;
  }
}
