/* You can add global styles to this file, and also import other style files */

body{

  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404c51;
}

label {

  font-weight: bold;

}

.label{
  margin: 0.5em;
}

..col-acoes-status{
  margin: 15px;
}

/* Quando a tela estiver menor que os px definido, entrará
na regra do escopo*/
@media (min-width: 1200px){
  .container{

    width: 1100px;
    margin: 0 auto;
  }
}

@media (min-width: 40em){

  .col-valor-header, .col-data-header, .col-acoes-header
  .col-th-header .col-cidade-header{
    width: 120px;
  }

  .col-data-content{
    text-align: center !important;
  }

  .col-valor-content{
    text-align: right !important;
  }

  .col-acoes{
    width: 90px;
    text-align: center !important;
  }

  .col-acoes, .p-button, .col-acoes-status {
    margin-right: 3px;
  }
}
